@page "/"
@inject IRepository _repository


<div>
    <h3>Movies</h3>

    <MoviesList Movies="movies" />
    <button @onclick="AddNewMovie">Add new movie</button>

</div>

@code {
    private List<Movie> movies;
    protected override void OnInitialized()
    {

        movies = _repository.GetMovies();
    }

    private void AddNewMovie()
    {
        movies.Add(new Movie
        {
            Title = "new movie",
            ReleaseDate = DateTime.Now
        });
    }

}