@page "/"
@inject IRepository _repository


<div>
    <h3>Movies</h3>
    <MoviesList Movies="movies" />
</div>

@code {
    private List<Movie> movies;
    protected override void OnInitialized()
    {

        movies = _repository.GetMovies();
    }
}