
@inject IJSRuntime js



<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <IndividualMovie Movie="movie" DeleteMovie="DeleteMovie" />
        </ElementTemplate>
    </GenericList>
</div>






@code {


    [Parameter] public List<Movie> Movies { get; set; }

    async Task DeleteMovie(Movie movie)
    {

        await js.MyFunction("custom");
        var confirmed = await js.Confirm($"Deleting: '{movie.Title}'. Are you sure?");
        if (confirmed)
        {
            Movies.Remove(movie);
        }
    }
}
